@charset "utl-8";

html {
    padding-left: 20%;
}

body {
     font-family: Helvetica , "游ゴシック", sans-serif;
}
    

h1 {
    font-size: 50px;
    display: inline-block;
    background-color: lightpink;
}

a:hover{
    font-size: 2.5ex;
}

a:link{
    color: teal;
}

a:visited{
    color: orange;
}

#menu > ul >  li{
    display: block;
    width: 250px;
    margin: 0 16px 0 0;
    padding: 4px;
    border: 2px solid teal;
    border-radius: 4px;
    background: linear-gradient(#ffffff, darkseagreen);
}

#menu-2 > ul >  li{
    display: block;
    width: 250px;
    margin: 0 16px 0 0;
    padding: 4px;
    border: 2px solid teal;
    border-radius: 4px;
    background: linear-gradient(#ffffff, darkseagreen);
}

.hogehoge{
    width: 66%;
}
